
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position:absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding: 20px;
}
section header ul{
    display: flex;
}
section header ul li{
    list-style: none;
    padding: 0.8rem;
}
section header ul li a{
    color:black;
    text-decoration: none;
    font-size: 15px;
} 
section header ul li a img{
    width: 2rem;
}
section header ul li button{
    background: rgb(77, 141, 236);
    border: none;
    outline:dotted;
    padding: 8px 8px;
    color:white;
    font-size: 10px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}
section .main{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    padding-top: 1em;
}
section .main .searchbox .search{
    width: 100%;
    padding: 10px;
    padding-left:45px ;
    padding-right:60px;
    border-radius: 4px;
    border:1px solid #ccc;
    outline:none;
    font-size:16px;
}
section .main .searchbox .icons{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding:30px 5px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}
section .main .buttons{
    padding-top: 20px;

}
section .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    color:rgb(143, 134, 134);
    font-size: 14px;
    border:none;
    cursor:pointer;
    border-radius:4px;
    border: 1px solid transparent;
    outline: none;
}
section .main .buttons button:hover{
    border:rgb(161, 156, 156)
}
.main img{
    width: 20em;
}
.icons img{
    width: 23px;

}
section .footer{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(219, 219, 219);
}
section .footer .row{
    display: flex;
    padding:15px 25px;
    justify-content: space-between;
}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;  
}
section .footer .row ul li a{
    font-size: 15px;
    padding: 8px;
}
